body {
    background: #8BD8FF;
    color: #000;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 100%;
    margin: 35px;
}

p {
  float: left;
  width: 800px;
  padding: 10px;
  margin: 35px;
  background: #fff;
}

@media (max-width: 700px) {
  body {width: 100%;
    margin-top: 0;
    margin-left: 0;}
  p {width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;}
  #container {margin: 0;}
  #sometimes {margin-top: 0;}
}
